@media (max-width: 1000px) and (min-width:800px) {
    body{
        padding-top: 210px;
    }
    

    /*Barra de Menu*/
    figure.logoEmpresa img{
        width: 600px;
    }
    

    div.areaRestrita img{
        width: 40px;
    }
    
    nav.menu a{
        font-size: 20px;
    }

    
    /*Sessão Apresentação*/

    figure.fundoTigela img{

        width: 100vw;
        height: 55vh;
    }

    figcaption.corpo-apresentacao h2{
        padding: 0px 60px;
        font-size: 15px; 
    }

    figcaption.corpo-apresentacao h1{
        font-size: 40px;
    }
    
    div.apresentacaoBotao{ 
        width: 100px;
        height: 40px;
    }

    div.apresentacaoBotao button{
        font-size: 10px;
    }

    /* Sessão de botões */
    section.botoes-opcao{
        padding: 30px;
    }

    figure.icones_main{
        padding: 5px;
        position: relative;
    }
    
    nav.fundoFaixa{
        padding: 30px 0px 30px 0px;
        padding: 40px;
    }
    
    nav.fundoFaixa h3{
        font-size: 12px;
    }
    
    nav.fundoFaixa h4{
        font-size: 10px;
    }

    nav.icones_main img{
        height: 40px;
    
    }

    /*
        Formulários
    */
    
    .emailTelefone{
        display: flex;
        flex-direction: wrap;
        gap: 30px

    
    }

    div.inf-util{
        flex-direction: column;
        text-align: center;
    }
}

@media (min-width:1400px){
    nav.fundoFaixa {
        padding: 60px;
    }
    
    nav.fundoFaixa h3{
        font-size: 15px;
    }
    
    nav.fundoFaixa h4{
        font-size: 15px;
    }

    
}